html,
body {
    height: 100%;
}

.member-info{
    background: #fff;
}
.btn-alt {
    background-color: #82af6f;
    border-radius: 0;
    color: white;
}
#wrapper{
    overflow: auto;
}
h2.tile-title {
    background-color: #438eb9;
    color: white;
    text-transform: none;
    font-weight: normal;
}
.tile-title {
    background-color: #82af6f !important;
    font-size: 12pt;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 7px 10px 7px;
}
#content #main-content h2 {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 1.9em;
    margin: 10px 0;
}
.rwd-table {
    overflow: hidden;
}
.rwd-table {
    margin: 1em 0;
    min-width: 300px;
    width: 100%;
}