.dashboard-stat .details-left {
    position: absolute;
    right: 52%;
    padding-right: 15px;
}
.dashboard-stat .details-left-last {
    position: absolute;
    right: 160px;
    padding-right: 15px;
}
.dashboard-stat.red-intense .details-left .number {
    color: #FFFFFF;
}

.dashboard-stat .details-left .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: 300;
}

.dashboard-stat.red-intense .details-left .desc {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
}

.dashboard-stat .details-left .desc {
    text-align: left;
    font-size: 23px;
    letter-spacing: 0;
    font-weight: 300;
}

.desc {
    font-size: 25px !important;
}

.dashboard-stat.purple-plum .details-left .number {
    color: #FFFFFF;
}

.dashboard-stat.purple-plum .details-left .desc {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
}

.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    font-size: 18px;
}

.page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a {
    font-size: 18px;

}