@media screen and (max-width: 768px) {
    .node-image {
        width: 50%;
    }

    .jOrgChart .node {
        background-color: #fff;
        display: inline-block;
        width: 80px;
        height: 60px;
        z-index: 10;
        margin: 0 2px;
    }
}

@media screen and (max-width: 500px) {
    .node-image {
        width: 75%;
    }

    .jOrgChart .node {
        background-color: #fff;
        display: inline-block;
        width: 45px;
        height: 60px;
        z-index: 10;
        margin: 0 2px;
    }
}