.page-container {
    margin-top: 46px;
!important
}

.jOrgChart .node {
    background-color: #fff;
    display: inline-block;
    width: 100px;
    height: 60px;
    z-index: 10;
    margin: 0 2px;
}

.jOrgChart table {
    margin: 0 auto;
}

.but {
    background: black;
}

.box-hd {
    text-align: center;
    font-size: 30px;
}

/*.network .node a {*/
/*background-image: url("https://www.onelife.eu/assets-backend/backend/img/tree-structure-small.png");*/
/*}*/

.file-preview-image {
    width: auto;
    height: 160px;
}

.package li {
    list-style: none;
}

.payment-buttons button {
    width: 100%;
}

.panel .panel-body.font-bonus {
    font-size: 17px;
}

.goog-te-menu-frame {
    max-width: 100% !important;
/ / or whatever width you want
}

.goog-te-menu2 {
/ / the element that contains the table of options max-width: 100 % !important;
    overflow: scroll !important;
    box-sizing: border-box !important;
/ / fixes a padding issue height: auto !important;
/ / gets rid of vertical scroll caused by box-sizing
}

.download-image {
    width: 100%;
}

.download-example {
    text-align: center;
}

.read {

}

.unread {
    font-weight: bold;
}

.tickets {
    font-size: 25px;
}

.content-ticket {
    font-size: 20px;
    color: blue;
}

.rep {
    font-size: 20px;
    color: red;
    padding-left: 26px;

}