.help-inline {
    display: inline-block;
}

select {
    height: 34px !important;
}

.customer-form, .service-form {
    padding: 15px 0;
}

.customer-form:nth-child(even), .service-form:nth-child(even) {
    background: rgb(250, 250, 250);
}

.step-content div.col-sm-1, .step-content div.col-sm-2, .step-content div.col-sm-3, .step-content div.col-sm-4, .step-content div.col-sm-5, .step-content div.col-sm-6, .step-content div.col-sm-7, .step-content div.col-sm-8, .step-content div.col-sm-9, .step-content div.col-sm-10, .step-content div.col-sm-11, .step-content div.col-sm-12 {
    padding-left: 0 !important;
}

.page-content {
    min-height: 860px;
}

.portlet.box {
    margin-bottom: 0;
}

.portlet-body {
    padding: 10px;
    background-color: #fff;
}

.portlet.blue {
    background-color: #4b8df8 !important;
}

.portlet.box.blue {
    border: 1px solid #b4cef8;
}

.portlet-title {
    color: #fff;
    padding: 8px 10px 2px 10px;
}

.portlet-title h4 {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    margin: 0 0 7px;
}

.select2-search:after {
    right: 10px !important;
    position: absolute !important;
    top: 7px !important;
    left: auto !important;
}

.service-form .well {
    margin: 0 15px;
}

.service-manager-list .service-manager, .service-flight-list .service-flight, .service-hotel-list .service-hotel, .service-vehicle-list .service-vehicle {
    padding: 15px 0;
}

.service-manager-list .service-manager:nth-child(even), .service-flight-list .service-flight:nth-child(even), .service-hotel-list .service-hotel:nth-child(even), .service-vehicle-list .service-vehicle:nth-child(even) {
    background: rgba(237, 239, 242, 0.5);
}

.service-manager-list {
    border-color: rgba(255, 183, 82, 0.5) !important;
    background: rgba(255, 183, 82, 0.1) !important;
}

.service-flight-group {
    border-color: rgba(135, 184, 127, 0.5) !important;
    background: rgba(135, 184, 127, 0.1) !important;
}

.service-hotel-group {
    border-color: rgba(209, 91, 71, 0.5) !important;
    background: rgba(209, 91, 71, 0.1) !important;
}

.service-vehicle-group {
    border-color: rgba(111, 179, 224, 0.5) !important;
    background: rgba(111, 179, 224, 0.1) !important;
}

.preview {
    margin-left: 3px;
!important;
}

.step-pane .logo {
    float: left;
}

.step-pane .logo img {
    width: 70px;
    height: 70px;
}

.step-pane h6 > span {
    font-size: 10px;
    margin-right: 20px;
}

.service-form .widget-header {
    margin: -15px 0 15px 0;
}

.service-form .widget-body {
    background: none;
}

.service-form.widget-box {
    margin-bottom: 15px;
}

.report-table {
    margin-bottom: 50px;
!important;
}

.nav-tabs > li {
    margin-right: 2px;
    border-top: 2px solid transparent;
}

.nav-tabs > li > a {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 0;
    padding: 5px 10px;
}

.nav-tabs > li.active {
    border-top: 3px solid #d12610;
    margin-top: 0;
    position: relative;
}

.nav-tabs > li {
    margin-right: 2px;
    border-top: 2px solid transparent;
}

.nav-tabs > li.active > a {
    border-top: none;
    font-weight: bold;
}

.panel-default > .panel-heading {
    background-color: #00b3ee;
}

.tab-content {
    padding: 15px 0;
}

.service_title {
    padding: 10px 15px;
    background-color: #00b3ee;
    font-size: 16px;
}

.logo {
    float: left;
}

.logo img {
    width: 70px;
    height: 70px;
}

.content td {
    padding: 5px 5px 0 5px;
}

.voucher-form span {
    color: blue;
}

.left-green {
    background: #66D666;
    color: #fff;
    font-weight: bold;
}

.service-form.well .form-group {
    margin-top: 15px;
}

.div-block {
    margin: 0 0 12px;
    border-bottom: 1px dotted #e2e2e2;
    padding-bottom: 16px;
    padding-top: 7px;
}

.has-error .control-label, .has-error .help-block, .has-error .help-inline {
    color: #d16e6c;
}

.has-error input, .has-error select, .has-error textarea {
    border-color: #f2a696;
    color: #d68273;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success input, .has-success select, .has-success textarea {
    border-color: #9cc573;
    color: #8bad4c;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .control-label, .has-success .help-block, .has-success .help-inline {
    color: #7ba065;
}

.table-content {
    text-align: center;
}

.kv-grid-table a {
    margin: 0 5px;
}

.popover {
    max-width: 400px !important;
}

.navbar-pink {
    width: 400px;
}

.navbar-pink .unread {
    background: rgba(51, 122, 183, 0.22) !important;
}

.diff-popovers {
    font-weight: bold;
    color: #FF8100 !important;
    cursor: pointer;
    text-decoration: underline;
}

.diff-popovers.notified {
    font-weight: bold;
    color: #ffffff !important;
    background-color: #FF8100 !important;
    cursor: pointer;
    text-decoration: underline;
}

.tour-form .form-group .form-control {
    width: 100%;
}

.file-preview-image {
    width: auto;
    height: 160px !important;
}

.tickets {
    font-size: 25px;
}

.content-ticket {
    font-size: 20px;
    color: blue;
}

.rep {
    font-size: 20px;
    color: red;
    padding-left: 26px;

}